/* className 속성이 App인 요소에 대하여 글자를 좌측 정렬하고, 마진을 10픽셀로 지정합니다.
아래쪽은 마진을 20픽셀로 지정합니다. */
.App {
  text-align: left;
  margin: 10px;
  margin-bottom: 20px;
}

/* img 이미지 태그의 크기를 픽셀로 지정 */
img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  /* 이미지 비율 유지하면서 잘림 발생 가능 */
  margin: 10px auto 10px auto;
  /* 위, 아래 10픽셀, 좌우 가운데 정렬 */
}